<p>{{titulo}}</p>

<form [formGroup]="assetCadastroForm">

    <mat-input-container>
        <input matInput type="text" id="pessoaCodigo" placeholder="Código" formControlName="pessoaCodigo" maxlength="50" disabled>
    </mat-input-container>

    <mat-input-container>
        <input matInput type="text" mdInput type="text" id="pessoaNome" placeholder="Nome" formControlName="pessoaNome" maxlength="50">
    </mat-input-container>

    <mat-input-container>
        <input matInput type="text" matInput type="text" id="emailCliente" placeholder="Email" formControlName="emailCliente">
    </mat-input-container>
    <!-- <div data-input-message class="alert alert-danger" *ngIf="assetCadastroForm.controls?.emailCliente?.errors?.email">
        <mat-icon>warning</mat-icon> Email invalido.
    </div> -->

    <div>
        <p>Registro Ativo:</p>
        <mat-radio-group formControlName="registroAtivo">
            <mat-radio-button value="true">Sim</mat-radio-button>
            <!-- disabled is Old API on new ng-material should use 'ng-disables' -->
            <mat-radio-button value="false">Não</mat-radio-button>
        </mat-radio-group>
    </div>


    <button type="button" mat-raised-button color="primary" (click)="salvar()">
        <mat-icon>add</mat-icon>
    </button>
</form>