<div>
  <div>
    <form [formGroup]="assetContaForm">

      <div class="container">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field>
                <mat-select class="form-control" (change)="verifyAddClient($event)" formControlName="mes" placeholder="Mês vigente" class="--small">
                  <mat-option *ngFor="let mes of meses" [value]="mes">{{mes}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-input-container>
                <input matInput placeholder="Salario Liquido" formControlName="salario" appCurrencyMask="'NONE'" tabindex=2 maxlength=22>
              </mat-input-container>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field>
                <mat-select class="form-control" (change)="verifyAddClient($event)" formControlName="conta" placeholder="Tipo de Conta" class="--small">
                  <mat-option *ngFor="let conta of tipoConta" [value]="conta.name">{{conta.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-input-container>
                <input matInput placeholder="Valor da Conta" formControlName="valorConta" appCurrencyMask="'NONE'" tabindex=2 maxlength=22>
              </mat-input-container>

              <mat-form-field>
                <input matInput [matDatepicker]="pickerDataVencimento" placeholder="Data de vencimento" formControlName="dataVencimento">
                <mat-datepicker-toggle matSuffix [for]="pickerDataVencimento"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #pickerDataVencimento></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <input matInput [matDatepicker]="pickerDataPagamento" placeholder="Data de Pagamento" formControlName="dataPagamento">
                <mat-datepicker-toggle matSuffix [for]="pickerDataPagamento"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #pickerDataPagamento></mat-datepicker>
              </mat-form-field>

            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm-7">
              <mat-form-field class="example-full-width-comentario">
                <textarea matInput placeholder="Comentario" formControlName="comentario" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="4"></textarea>
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <button class="buttonFoot" type="button" mat-raised-button color="primary">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <app-simple-list class="list" [items]="contas" (onDeleteContas)="deleteContas($event)"></app-simple-list>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>






<!-- <div class="resumoConta">
    <p>Tipo da Conta</p>
    {{ assetContaForm.controls.conta.value }}
  
    <p>Data Vencimento</p>
    {{ getFormatDate() | formatDate }}
  </div> -->