<div style="padding: 5px;">
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab id="tab1">
        <ng-template mat-tab-label>
          <mat-icon>playlist_add</mat-icon> Cadastrar
        </ng-template>
        <app-conta-cadastro></app-conta-cadastro>
      </mat-tab>

      <mat-tab id="tab2">
        <ng-template mat-tab-label>
          <mat-icon>view_list</mat-icon> Contas
        </ng-template>

      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

</div>