<h3>{{titulo}}</h3>

<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="action">
        <button mat-button (click)="downloadFile()">
            <mat-icon>print</mat-icon>
        </button>
        <!-- <button mat-button (click)="editar(row.codigo);">
            <mat-icon>email</mat-icon>
        </button> -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>email</mat-icon>
        </button>
        <mat-menu #menu="matMenu" yPosition="above">
            <button mat-button (click)="sendEmailPdf()">
                <mat-icon>picture_as_pdf</mat-icon>
            </button>
            <button mat-button (click)="sendEmailExcel()">
                <mat-icon>picture_as_pdf</mat-icon>
            </button>
        </mat-menu>
    </div>

</div>

<div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ativo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Reg. Ativo </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.ativo}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="editar">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-button (click)="editar(row.codigo);">
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="excluir">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Excluir </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-button (click)="excluir(row.codigo);">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>