<!-- <div class="simple-list-content">
  <mat-card *ngFor="let cliente of clientes;">
    <span matTooltip="{{ cliente.nomeCliente }}" matTooltipPosition="above" [innerHTML]="cliente.nomeCliente | textLength:'10'"></span>
    <span matTooltip="{{ cliente.emailCliente }}" matTooltipPosition="above" [innerHTML]="cliente.emailCliente | textLength:'10'"></span>
    <span [innerHTML]="cliente.sexoCliente"></span>
    <a (click)="deleteItem(cliente.emailCliente)">
      <mat-icon>delete</mat-icon>
    </a>
  </mat-card>
  <div class="message" *ngIf="!(clientes.length > 0)"> Adicione pelo menos um cliente.</div>
  </div -->

<div class="simple-list-content">
  <mat-card>
  </mat-card>
</div>