<div class="email">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Relatório</span>
      <mat-icon>keyboard_arrow_right</mat-icon>
      <span>E-MAIL</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="form-group" data-backdrop="static">
    <form [formGroup]="emailForm">
      <input class="form-control" type="text" id="remetente" formControlName="emailRemetente" maxlength="50" readonly="true">
      <input class="form-control" type="text" id="destinatario" placeholder="Destinatário" formControlName="emailDestinatario" maxlength="200">
      <textarea class="form-control" placeholder="Digite sua mensagem" formControlName="emailMensagem" matTextareaAutosize
        matAutosizeMinRows="5" matAutosizeMaxRows="5"></textarea>


      <div class="footer">
        <button type="button" mat-raised-button color="warn" (click)="cancelEmail()">Cancelar</button>
        <button type="button" mat-raised-button color="primary" (click)="sendEmail()">Enviar</button>
      </div>

    </form>

  </div>

  <!-- <div class="form-group">
    <span>{{data.type}}</span>

    <label for="alterEgo">Alter Ego</label>


    <mat-nav-list>
      <mat-list-item *ngFor="let pessoa of pessoas">
        {{pessoa.email}}
      </mat-list-item>
    </mat-nav-list>
  </div> -->




</div>